<div class="card" *ngIf="post">
    <div class="card-body">
        <h5 class="card-title"><a [routerLink]="['/habr', post.id]">{{post.title}}</a></h5>
        <ng-container *ngIf="post.mainPictureId">
            <img class="card-img mb-2" 
                [src]="imageToShow"
                [alt]="post.title"
                *ngIf="!isImageLoading; else loading" />
        </ng-container>
        <markdown class="variable-binding" [data]="post.description"></markdown>
        <a [routerLink]="['/habr', post.id]" class="btn btn-primary">Читать далее</a>
    </div>
    <div class="card-footer text-muted">
        <ng-template #tipTopic>раздел - <b>{{post.topic}}</b></ng-template>
        <ng-template #tipUser>профиль - <b>{{post.owner}}</b></ng-template>
        Топик: <a [routerLink]="[getTopicLink(post.topic)]" placement="bottom" [ngbTooltip]="tipTopic">{{post.topic}}</a>
        Автор: <a [routerLink]="['/user/', post.owner]" placement="bottom" [ngbTooltip]="tipUser">{{post.owner}}</a>
        От: {{dateFormatService.toLocaleString(post.created)}}
    </div>
</div>

<ng-template #loading>
    <div class="card-img-top">
        <div class="d-flex justify-content-center">
            <div class="spinner-grow m-5" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</ng-template>