<div class="card" *ngIf="post">
    <div class="card-body">
        <h5 class="card-title"><a [routerLink]="['/habr', post.id]">{{post.title}}</a></h5>
        <img src="https://picsum.photos/600/400/?random={{post.id}}" class="card-img mb-2"/>
        <markdown class="variable-binding" [data]="post.description"></markdown>
        <a [routerLink]="['/habr', post.id]" class="btn btn-primary">Читать далее</a>
    </div>
    <div class="card-footer text-muted">
        Топик: <a href="#">{{post.topic}}</a>
        Автор: <a [routerLink]="['/user/', post.owner]">{{post.owner}}</a>
        От: {{dateFormatService.toLocaleString(post.created)}}
    </div>
</div>