.modal-body{
  position:relative;
}

.full-modal-height {
  position:relative;
  height: 100%;
  margin: 0 auto;
}

textarea {
  overflow-y: scroll;
}

#description {
  width: 100%;
  height: 50vh;
}

#text {
  width: 100%;
  height: 50vh;
}

.preview-description,
.preview-content {
  width: 100%;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 5px;
  overflow-y: scroll;
  resize: vertical;
  padding: 20px;
}

.preview-content {
  height: 700px;
}

.preview-description {
  height: 150px;
}

.test-div {
  overflow-y: scroll;
  height: 100%;
}

.edit-pencil:hover {
  color: dodgerblue;
}

.delete-trash:hover {
  color: orangered;
}

.tab-is-invalid {
  color: #ff0000;
}
