<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card px-5 py-5">
        <h2 class="text-center mb-5">Привет</h2>
        <form (ngSubmit)="submitForm()" [formGroup]="form">

          <div class="alert alert-danger text-center" *ngIf="badCredentials" role="alert">
            Bad Credentials
          </div>

          <div class="alert alert-danger text-center" *ngIf="isServerError" role="alert">
            Server Error
          </div>

          <div class="alert alert-danger text-center" *ngIf="isZeroError" role="alert">
            A client-side or network error occurred
          </div>

          <div class="alert alert-danger text-center" *ngIf="isUnknownError" role="alert">
            Something went wrong
          </div>

          <div class="mb-3">
            <label for="username" class="form-label">username</label>
            <input type="text"
                   formControlName="username"
                   class="form-control"
                   [ngClass]="{'is-invalid': form.controls['username'].invalid && form.controls['username'].touched}"
                   id="username"
                   name="username"
                   autocomplete="username">
            <div class="invalid-feedback"
                 *ngIf="form.controls['username'].invalid && form.controls['username'].touched">
              Укажите Ваш username
            </div>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">password</label>
            <input type="password"
                   formControlName="password"
                   class="form-control"
                   [ngClass]="{'is-invalid': form.controls['password'].invalid && form.controls['password'].touched}"
                   id="password"
                   name="password"
                   autocomplete="password">
            <div class="invalid-feedback"
                 *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
              Введите пароль
            </div>
          </div>

          <button type="submit" class="btn btn-primary me-3">Войти</button>
          <a routerLink="/signup">Зарегистрироваться</a>
        </form>
      </div>
    </div>
  </div>
</div>
