<div class="row justify-content-center w-50 px-5 mt-3">

  <div class="col-md-6  mb-2">
    <a class="btn btn-primary" href="#" role="button">Написать статью</a>
  </div>

  <div class="col-md-4  mb-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Отображать
    </button>
    <ul class="dropdown-menu dropdown-menu-lg-end">
      <li><a class="dropdown-item" href="#">Все</a></li>
      <li><a class="dropdown-item" href="#">Опубликованные</a></li>
      <li><a class="dropdown-item" href="#">Черновики</a></li>
    </ul>
  </div>

  <table class="table table-bordered table table-hover">
    <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Статья</th>
      <th scope="col">Статус</th>
      <th scope="col">Действие</th>
    </tr>
    </thead>
    <tbody>

    <tr>
      <th scope="row">1</th>
      <td></td>
      <td></td>
      <td>
        <a class="btn" href="#"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a>
        <a class="btn" href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
      </td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td></td>
      <td></td>
      <td>
        <a class="btn" href="#"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a>
        <a class="btn" href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
      </td>
    </tr>

    <tr>
      <th scope="row">3</th>
      <td></td>
      <td></td>
      <td>
        <a class="btn" href="#"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a>
        <a class="btn" href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>




