<div class="modal fade"
     id="staticModal"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Закрыть"></button>
      </div>

      <div class="modal-body">
        <form>
          <div class="input-group mb-3">
            <button class="btn btn-outline-secondary dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">Выбрать тему
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let topic of topics | async">
                <a class="dropdown-item" (click)="selectTopic(topic.name)">{{topic.name}}</a>
              </li>
            </ul>
            <input type="text"
                   value="{{topicName}}"
                   class="form-control"
                   aria-label="Text input with dropdown button"
                   readonly>
          </div>
          <div class="mb-3">
            <label for="Article title" class="col-form-label">Заголовок статьи</label>
            <input type="text"
                   class="form-control"
                   id="Article title">
          </div>

          <div class="mb-3">
            <label for="description" class="col-form-label">Описание</label>
            <textarea class="form-control"
                      id="description">
            </textarea>
          </div>

          <div class="mb-3">
            <label for="text" class="col-form-label">Текст</label>
            <textarea class="form-control"
                      id="text">
            </textarea>
          </div>

          <div class="input-group mb-3">
            <input type="text" class="form-control"
                   placeholder="Напишите тег"
                   aria-label="tag"
                   aria-describedby="button">
            <button class="btn btn-primary"
                    type="button" id="button"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Добавить">
              <i class="fas fa-check-circle"></i>
            </button>
          </div>

          <button type="button" class="btn btn-secondary">#tag_1 <i class="fa-solid fa-xmark"></i></button>
          <button type="button" class="btn btn-secondary">#tag_2 <i class="fa-solid fa-xmark"></i></button>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary">Закрыть</button>
        <button type="button" class="btn btn-primary">Сохранить</button>
      </div>
    </div>
  </div>
</div>

