<div *ngIf="post else ifPostNotFound">
    <p>Раздел: <a href="#">{{post.topic}}</a></p>
    <p>Автор: <a href="#">{{post.owner}}</a></p>
    <h1>{{post.title}}</h1>
    <hr>
    <br>
    <markdown class="variable-binding" [data]="post.description"></markdown>
    <br>
    <markdown class="variable-binding" [data]="post.content"></markdown>
    <hr>
    <a class="tagLink" href="#" *ngFor="let tag of post.tags">#{{tag}}</a>
</div>

<ng-template #ifPostNotFound>
    <h1>Страница не найдена.</h1>
    <p>Страница устарела, была удалена или не существовала вовсе.</p>
    <a class="btn btn-primary" routerLink="/habr" role="button">Вернуться на главную</a>
</ng-template>