<div class="row">
  <div class="col-4">
    <div class="row gy-3">
      <div class="row-cols-md-1">
        <div class="p-3 border bg-dark">
          <a href="#" class="btn">
            <small class="text-white fs-5">Личные данные</small>
          </a>
        </div>
      </div>

      <div class="row-cols-md-1">
        <div class="p-3 border bg-dark">
          <a href="#" class="btn">
            <small class="text-white fs-5">Мои статьи</small>
          </a>
        </div>
      </div>

      <div class="row-cols-md-1">
        <div class="p-3 border bg-dark">
          <a href="#" class="btn">
            <small class="text-white fs-5">Обсуждения</small>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <app-user-data></app-user-data>
  </div>
</div>


